$primary: #F1CDB3;
$grey: #4C4C4C;
$white: #FFFFFF;
$lightgrey: #545454;
$subtitle: #CDCDCD;
$darkbackground: #F6F6F6;
$lightbackground: #FAFAFA;
$dark-3xl: #292929;
$lightgrey2: #B2B2B2;
$black: #000000;